<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Cart</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/customers" routerLinkActive="active">Link to List Customer</a>
    </div>
    <div>
        <a routerLink="/payments" routerLinkActive="active">Link to List Payment</a>
    </div>
    <div>
        <a routerLink="/prices" routerLinkActive="active">Link to List Price</a>
    </div>
    <div>
        <a routerLink="/products" routerLinkActive="active">Link to List Product</a>
    </div>
    <div>
        <a routerLink="/subscriptions" routerLinkActive="active">Link to List Subscription</a>
    </div>
 <!-- END LINKS -->
</div>